#category {
  background: #050505;
  width: 10%;
  height: 25px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

#hackBody {
  position: relative;
  float: left;
  padding-left: 35px;
  padding-right: 35px;
}

#hack {
  background-color: #8ab9f1;
}

#user {
  position: absolute;
  top: 57px;
  width: 40%;
  background-color: #679bf1;
}

#verified {
}

#stars {
}

#star{
  width: 2%;
}

#img{
  max-width: 20%;
  max-height: 200px;
  position: absolute;
  top: 75px;
  right: 35px;
}

#desc {
  min-height: 150px;
  background-color: #f8de7e;
  width: 76%;
}

#comments, #addComment {
  float: left;
  background-color: #f8de7e;
  width: 50%;
  height:200px;
  overflow: scroll;
}

#add_comment {
    width: 100%;
}

#new_comment {
  width: 80%;
  height: 70px;
}

#subhead {
  width: 80%;
  background-color: #ffc40a;
}
