/* General page adjustments such as font */
html {
  font-family: sans-serif;
}


/* Header, logo */
#banner {
  width: 100%;
  margin: auto;
}
#logo {
  float: left;
  width: 75%;
  height: 115px;
  vertical-align: middle;
  text-indent: 5%;
  font-size: 25px;
  color: white;
  background-color: #ffc40a;
}
#userspace {
  float: right;
  width: 25%;
  height: 85px;
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #f8de7e;
}
#userspace a{
  color: black;
}
#clear {
  clear: both;
}


/* Menu Bar */
#menu {
  background: #050505;
  font-size: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#menu ul{
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
}
#menu li{
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
}

#menu a{
  color: white;
  text-decoration: none;
}


/* Actual page content formatting */
#page_content {
  margin-top: 2%;
}

#content_h {
  background-color: #8ab9f1;
  text-align: center;
  margin: 15px 400px 15px;
  padding: 1px 0px 1px;
}

#hack_carousel {
  text-align: center;
  height: 300px;
}

#top1 img{
  top: 40%;
  position: absolute;
  left: 10%;
}
#top1 a{
  top: 52%;
  position: absolute;
  left: 13%;
}
#top2 img{
  top: 40%;
  position: absolute;
  left: 40%;
}
#top2 a{
  top: 52%;
  position: absolute;
  left: 43%;
}
#top3 img{
  top: 40%;
  position: absolute;
  left: 70%;
}
#top3 a{
  top: 52%;
  position: absolute;
  left: 75%;
}

#hack_carousel img{
  max-width: 20%;
  opacity: 0.6;
}
#hack_carousel a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 23px;
}


/* Footer */
#footer {
  margin-top: 2%;
  padding: 5px 5px 5px;
  text-indent: 10px;
  background-color: #f8de7e;
}
#footer a{
  font-size: 17px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
