{% extends 'forum/base1.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'account_info.css' %}">
{% endblock %}

{% block title_block %}
  Account information
{% endblock %}

{% block body_block %}
<div>
    <h1>Account information</h1>
    <hr/>
</div>


<!--username-->

<div class="username_info">

  <h3>Username: {{ user }}</h3> <br/>


</div>

<div> 
  <h3>Posts</h3>
</div>
<!--posts-->
<div class="hacks">
  
  {% if hacks %}
      <ul>
        {% for hack in hacks %}
          <a href="{% url 'forum:just_hack' hack.hackID %}">
            <div class="category_entry">
              <li>
                <h2>{{ hack.name }} </h2><br />
                {{ hack.shortDescription }}
              </li>
            </div>
          </a>
        {% endfor %}
      </ul>
      {% else %}
        You haven't added any hacks to the forum yet.
          Now is the best time!
        
      {% endif %}
      <br></br>
</div>

<!--request verification button-->
<div class= "request_verify">

  {% if verified %}
    <strong>You are a verified user</strong>
  {% else %}  


      <form id="request_verification_form" method="post" action="{% url 'forum:request_verification' %}">
          {% csrf_token %}
	
          <input type="hidden" name="verified" value="True" size="50"/>
		
          <input type="submit" value="Request Verification" />
      </form>
	  
  {% endif %}
</div>
{% endblock %}