{% extends 'forum/base2.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'add_hack.css' %}">
{% endblock %}

{% block title_block %}
  Add Hack
{% endblock %}


{% block body_block %}
      <div id=sign_in_box>
      <h1>Create a new hack</h1>


      <form id="create_hack_form" method="post" enctype="multipart/form-data"action="{% url 'forum:add_hack' context.category.slug  %}">
          {% csrf_token %}
		
          <label for="name"><b>Hack Name: </b></label>
          <input type="text" name="name" value="" size="50"/>

          <label for="shortDescription"><b>Short description </b></label>
          <input type="text" name="shortDescription" value="" size="50"/>

          <label for="description"><b>Describe the hack: </b></label>
          <textarea  id="description" name="description" cols="50" rows="5">
          </textarea>
          
          </br></br>
          
          
          <label for="image"><b>Add an image: </b></label>
          <input type="file" name = "image" accept=" image/*" />


			
          </br></br>
          <input type="submit" value="Submit" />

      </form>
      </div>
{% endblock %}
