{% extends 'forum/base1.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'all_categories.css' %}">
<script type="text/javascript" src="{% static 'javascript/search.js' %}"></script>
{% endblock %}

{% block title_block %}
  All Categories
{% endblock %}

{% block body_block %}

  {% if verified %}
    <a href="{% url 'forum:create_category' %}" id="addhack">
      <button type="button" id="add_category">Add category</button> 
    </a>
  {% endif %}

  <div id="content_h">
    <h1>All Categories</h1>
  </div>

  <ul id="list">
    {% if categories %}
      <input type="text" id="searchBar" placeholder="Search for category..."><br /><br /><br />
      {% for c in categories %}
        <a href="{% url 'forum:category' c.slug %}">
          <div class="category_entry">
            <li>
              <h2>{{ c.categoryName }}</h2> <br />
              {{ c.description }}
            </li>
          </div>
        </a>
      {% endfor %}

    {% else %}
      <a href="/">
        <div class="category_entry">
          <li>
            <strong><h2>There are no categories present.</h2></strong> <br />
            Description...
          </li>
        </div>
      </a>
    {% endif %}
  </ul>

{% endblock %}
