{% extends 'forum/base1.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'all_categories.css' %}">
{% endblock %}

{% block title_block %}
  All Categories
{% endblock %}

{% block body_block %}
  <div id="content_h">
    <h1>All Categories</h1>
  </div>

  <ul>
    {% if categories %}
      {% for c in categories %}
        <a href="{% url 'forum:show_category' c.slug %}">
          <div class="category_entry">
            <li>
              <h2>{{ c.name }}</h2> <br />
              {{ c.description }}
            </li>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <a href="/">
        <div class="category_entry">
          <li>
            <strong><h2>There are no categories present.</h2></strong> <br />
            Description...
          </li>
        </div>
      </a>
    {% endif %}
  </ul>


{% endblock %}
