{% extends 'forum/base2.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'sign_in.css' %}">
{% endblock %}

{% block title_block %}
  Create Category
{% endblock %}


{% block body_block %}
      <div id=sign_in_box>
      <h1>Create a New Hacks.R.Us Category</h1>
		
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="ERROR"
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
				<div class="ERROR">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endif %}

      <form id="create_category_form" method="post" action="{% url 'forum:create_category'  %}">
          {% csrf_token %}
		
          <label for="categoryName"><b>Category Name: </b></label>
          <input type="text" name="categoryName" value="" size="50"/>

          <br />
          <br />

          <label for="description"><b>Description: </b></label>
          <input type="text" name="description" value="" size="50"/>

          <br />
          <br />
		  
		 
          <input type="submit" value="Submit" />


      </form>
      </div>
{% endblock %}
