{% extends 'forum/base1.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'hack.css' %}">
{% endblock %}

{% block title_block %}
  {% if hack %}
    {{ hack.name }}
  {% else %}
    Unknown Hack
  {% endif %}
{% endblock %}

{% block body_block %}
  {% if hack %}
    <div id="category">
      <h1>{{ hack.categoryName }}</h1>
    </div>

    <div id="hackBody">
      <div id="hack">
        <h1>{{ hack.name }}</h1>
      </div>

      {% if hack.user.verified %}
        <div id="verified">
          Verified
        </div>
      {% endif %}

      <div id="stars">
        <!-- NEEED TO EDIT IMAG ELINK!! -->
        <img id="star" src="{% static 'images/rango.jpg' %}" alt="Star" />
        <p>{{ hack.likes }}</p>
      </div>

      {% if hack.image %}
        <!-- NEEED TO EDIT IMAGE LINK!! -->
        <img id="img" src="{% static 'images/rango.jpg' %}" alt="Hack image" />
      {% endif %}

      <div id="desc">
        <p>{{ hack.description }}</p>
      </div>

      {% if comments %}
        <div id="comments">
          <ul>
            {% for comment in comments %}
              <div class="comment_entry">
                <li>
                  <i>{{ comment.user }}</i>: {{ comment.text }}
                </li>
              </div>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

    </div>




  {% else %}
    The specified hack does not exist.
  {% endif %}
{% endblock %}
