{% extends 'forum/base1.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'hack.css' %}">
<script type="text/javascript" src="{% static 'javascript/hack.js' %}"></script>
{% endblock %}

{% block title_block %}
  {% if hack %}
    {{ hack.name }}
  {% else %}
    Unknown Hack
  {% endif %}
{% endblock %}

{% block body_block %}
  {% if hack %}
    <a href="{% url 'forum:category' hack.categoryName %}" id="category">
      <div id="category">
        {{ hack.categoryName }}
      </div>
    </a>

    <div id="hackBody">
      <div id="hack">
        <h1>{{ hack.name }}</h1>
      </div>

      <div id="user">
        Uploaded by <i>{{ hack.user }}</i>
        {% if hack.user.verified %}
          : <b> Verified </b>
        {% endif %}
      </div>


      <div id="stars">
        <a href="{% url 'forum:add_like' hack %}">
        <img id="star" src="{% static 'images/star.png' %}" alt="Star" /></a>
        {{ hack.likes }}
      </div>


      {% if not_default %}
        <img id="img" src="{{hack.image.url}}" alt="Hack image" />
      {% endif %}
      {% if hack.image %}
        <!-- <img id="img" src="{% static 'images/rango.jpg' %}" alt="Hack image" /> -->
      {% endif %}

      <div id="desc">
        <p>{{ hack.description }}</p>
      </div>

      <p></p>

      {% if comments %}
        <div id="comments">
          <div id="subhead"><h2>Comments</h2></div>
          <ul>
            {% for comment in comments %}
              <div class="comment_entry">
                <li>
                  <i style="text-transform: capitalize">{{ comment.user }}</i>: {{ comment.text }}
                </li>
              </div>
            {% endfor %}
          </ul>
        </div>
      {% endif %}


  	{% if user.is_authenticated %}
      <div id="addComment">
        <div id="subhead"><h2>Add Comment</h2></div>
    		<form id="add_comment" method="post" action="{% url 'forum:add_comment' hack.hackID %}">
              {% csrf_token %}

              <!-- <label for="text"><b>Add Comment: </b></label> -->
              <textarea name="text" id="new_comment"></textarea><br />
              <!-- <input type="text" name="text" value="" size="200"/> -->


              <input type="button" id="checkComment" value="Submit" />
              <input type="submit" style="visibility: hidden" id="submitButton" value="Submit" />
        </form>
      </div>
    {% endif %}

  </div>


  {% else %}
    The specified hack does not exist.
  {% endif %}
  <div id="clear"></div>
{% endblock %}
