{% extends 'forum/base1.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}

{% block title_block %}
  Homepage
{% endblock %}

{% block body_block %}
  <div id="content_h">
    <h1>Top 3 Hacks of the Week</h1>
  </div>

  <div class="hack_carousel">

	{% if hacks %}
    <a href="{% url 'forum:hack' hacks.0.hackID %}">
      <img id="img" src="{{ hacks.0.image.url }}" alt="Top 1 Hack" />
      <div class="top_hack" style="left: 16.665%">{{ hacks.0.name }}</div>
    </a>

    <a href="{% url 'forum:hack' hacks.1.hackID %}">
      <img id="img" src="{{ hacks.1.image.url }}" alt="Top 2 Hack" />
      <div class="top_hack" style="left: 50%">{{ hacks.1.name }}</div>
    </a>

    <a href="{% url 'forum:hack' hacks.2.hackID%}">
      <img id="img" src="{{ hacks.2.image.url }}" alt="Top 3 Hack"  />
      <div class="top_hack" style="left: 83.325%">{{ hacks.2.name }}</div>
    </a>

    {% else %}
      <strong>No pages currently in category.</strong>
    {% endif %}




  <!--</div>-->
  <div id="clear"></div>
{% endblock %}
