{% extends 'forum/base1.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}

{% block title_block %}
  Homepage
{% endblock %}

{% block body_block %}
  <div id="content_h">
    <h1>Top 3 Hacks of the Week</h1>
  </div>

  <div class="hack_carousel">

    <a href="{% url 'forum:hack' hackList.0.hackID %}">
    <!--  <div id="top1">-->
        <img id="img" src="{% static 'images/rango.jpg' %}" alt="Top 1 Hack" />
        <div class="top_hack" style="left: 16.665%">{{ hackList.0.name }}</div>
    <!--  </div>-->
    </a>

    <a href="{% url 'forum:hack' hackList.1.hackID %}">
        <img id="img" src="{% static 'images/rango.jpg' %}" alt="Top 2 Hack" />
        <div class="top_hack" style="left: 50%">{{ hackList.1.name }}</div>
    </a>

    <a href="{% url 'forum:hack' hackList.2.hackID %}">
      <!--  <div id="top3">-->
        <img id="img" src="{% static 'images/rango.jpg' %}" alt="Top 3 Hack"  />
        <div class="top_hack" style="left: 83.325%">{{ hackList.2.name }}</div>
      <!--  </div>-->
    </a>

  <!--</div>-->
  <div id="clear"></div>
{% endblock %}