{% extends 'forum/base1.html' %}
{% load staticfiles %}

{% block title_block %}
  Homepage
{% endblock %}

{% block body_block %}
  <div id="content_h">
    <h1>Top 3 Hacks of the Week</h1>
  </div>

  <div id="hack_carousel">
    <div id="top1">
      <img src="{% static 'images/rango.jpg' %}" alt="Top 1 Hack" />
      <a href="{% url 'forum:home' %}">Washing your Dog</a>
    </div>
    <div id="top2">
      <img src="{% static 'images/rango.jpg' %}" alt="Top 2 Hack" />
      <a href="{% url 'forum:home' %}">Acing Productivity</a>
    </div>
    <div id="top3">
      <img src="{% static 'images/rango.jpg' %}" alt="Top 3 Hack"  />
      <a href="{% url 'forum:home' %}">Eating a Pencil</a>
    </div>
  </div>
<div id="clear"></div>
{% endblock %}
